#titulo-h2 {
    color: darkgoldenrod;
}

.fundo-amarelo {
    background: yellow;
}

.texto-vermelho{
    color: red;
}

h2 {
    color: darkblue;
}

p {
    color: aqua;
}

h2 {
    color: brown;
}
